# gitignore

# hugo files
/hugo/assets/jsconfig.json
/hugo/public/
/hugo/resources/
/hugo/.hugo_build.lock
/hugo/hugo_stats.json

# Editors
.vscode/
*.profraw

# Trash
.DS_Store
Thumbs.db

# secrets
*.*key
*.pem
*.pgp
*.pub
.config.env
.decrypted~*
# .decrypted~*.yaml
.env
.envrc

# temp / working files & dirs
*.bak
*.iso
*.log
*.zip
.direnv/
.logs/
.task/
.temp*
TODO.md

#extras
.venv
*pytest*
*cache*
node_modules/

# retain files
!.gitkeep
!.gitignore
